.signIn {
  /* background-color: #006738;
  min-height: 100vh;
  min-width: 100vw; */
   align-items: center;
  display: flex;
  justify-content: center;
}
.container{
   /* background-color: #716060; */
  /* height: 85vh;
  width: 80vw; */
 
  /* margin: 20px 20px 20px 20px; */
}

.logoWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2px 2px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.signInWrapper {
  display: flex;
}

.signInLeft {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signInLeft h1 {
  font-size: 32px;
}

.signInLeft p {
  font-size: 20px;
}

.signInFormWrapper {
  margin-top: 30px;
  max-width: 320px;
  width: 100%;
}

.signInRight {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
